body {
  background-color: #b5c0c6;
  font-family: "Helvetica", "sans-serif";
}

.app {
  position: fixed;
  top: 50%;
  left: 50%;
  /* found on stackOverflow https://stackoverflow.com/questions/42121150/css-centering-with-transform */
  transform: translate(-50%, -50%);
  width: 25vw;
  height: 20vh;
}

.navbar {
  padding: 5px;
  position: relative;
  text-align: center;
}

.heading {
  text-align: center;
  color: #3b5244;
  text-shadow: 0.5px 0.5px 0 #344340;
}

.nav-link {
  padding: 5px;
  margin: 5px;
  color: #3b5244;
  text-decoration: none;

}

.nav-link:hover {
  text-decoration: underline;
  color: #7b9492;
  text-transform: uppercase;
}

.inputSection {
  text-align: center;
}

input {
  margin: 5px;
  box-shadow: 1px 1px 0 #344340;
  border-radius: 5px;
  border: none;

}

button {
  background-color: #3b5244;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 0 #344340;
  border: none;
}